<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %> 
    <form action="api/ad/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <div class="resultado">
            <% if (visitante.length > 0) { %>
            <table class="table-result">
                <tr>
                    <th>DATA/HORA</th>
                    <th>NOME</th>
                    <th>CPF</th>
                    <th>HOSTNAME</th>
                </tr>
                <% visitante.forEach(visitanteExist => { %>
                    <tr>
                        <td style="width: 300px;"><%= visitanteExist.STAMP.replace('BRT', '') %></td>
                        <td><%= visitanteExist.NOME %></h3>
                        <td><%= visitanteExist.CPF %></td>                           
                        <td><%= visitanteExist.HOST %></td>
                    </tr>
                <% }) %>
            <%} else { %>
                <p>Não foi possivel encontrar o histórico de Pessoas </p>
            <%}%>
        </table>
</div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>